@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;

	--color-header: #000000;
	--color-headerText: #000000;
	--color-headingLight: #999999;
	--color-footer: #000000;
	--color-cardsBg: #000000;
	--color-light: #fefefe;
	--color-dark: #000000;
	--color-title-color: #222222;
	--color-border-color: #dbe2e5;
}

@theme {
	--color-primary: #000000;
	--color-secondary: #000000;
	--color-header: #000000;
	--color-headerText: #000000;
	--color-headingLight: #696969;
	--color-footer: #000000;
	--color-cardsBg: #000000;
	--color-light: #fefefe;
	--color-dark: #000000;
	--color-border-color: #dbe2e5;
	--color-title-color: #222222;

	--color-muted: #99a1af;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

.champagne-font {
	font-family: var(--font-champagne);
}
.konnect-font {
	font-family: var(--font-konnect);
}

body {
	font-family: var(--font-champagne);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-konnect);
}

label {
	cursor: pointer;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* *:not([class*="border-"]) {
	border-color: #5daae9;
} */

button,
a {
	cursor: pointer;
}

.bubble-text {
	text-shadow: 2px 2px 0 var(--color-light), -2px 2px 0 var(--color-light),
		2px -2px 0 var(--color-light), -2px -2px 0 var(--color-light);
}
@layer base {
	* {
		border-color: #dbe2e5;
	}
}

img {
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.product-description {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.product-description strong {
	font-weight: 500;
	font-family: var(--font-konnect);
	color: var(--color-primary);
	font-size: 18px;
	line-height: 24px;
	margin-top: 2px;
}
.product-description ul {
	list-style: disc;
	margin-left: 1.25rem;
}
