@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;

	--color-header: #000000;
	--color-headerText: #000000;
	--color-footer: #000000;
	--color-cardsBg: #000000;
	--color-light: #fefefe;
	--color-dark: #000000;

	--color-border-color: #DBE2E5;
}

@theme {
	--color-primary: #000000;
	--color-header: #000000;
	--color-headerText: #000000;
	--color-footer: #000000;
	--color-cardsBg: #000000;
	--color-light: #fefefe;
	--color-dark: #000000;
	--color-border-color: #DBE2E5;
	
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* *:not([class*="border-"]) {
	border-color: #5daae9;
} */
