@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;

	--color-header: #000000;
	--color-headerText: #000000;
	--color-headingLight: #999999;
	--color-footer: #000000;
	--color-cardsBg: #000000;
	--color-light: #fefefe;
	--color-dark: #000000;
	--color-title-color: #222222;
	--color-border-color: #dbe2e5;
}

@theme {
	--color-primary: #000000;
	--color-secondary: #000000;
	--color-header: #000000;
	--color-headerText: #000000;
	--color-headingLight: #696969;
	--color-footer: #000000;
	--color-cardsBg: #000000;
	--color-light: #fefefe;
	--color-dark: #000000;
	--color-border-color: #dbe2e5;
	--color-title-color: #222222;

	--color-muted: #99a1af;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

.champagne-font {
	font-family: var(--font-champagne);
}
.konnect-font {
	font-family: var(--font-konnect);
}

body {
	font-family: var(--font-champagne);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-family: var(--font-konnect);
}

label {
	cursor: pointer;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* *:not([class*="border-"]) {
	border-color: #5daae9;
} */
.custom-scrollbar {
	overflow: auto;
	scrollbar-width: thin; /* Firefox */
	scrollbar-color: #cbd5e1 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #cbd5e1;
	border-radius: 999px;
}

/* No arrows */
.custom-scrollbar::-webkit-scrollbar-button {
	display: none;
}

button,
a {
	cursor: pointer;
}

.bubble-text {
	text-shadow:
		2px 2px 0 var(--color-light),
		-2px 2px 0 var(--color-light),
		2px -2px 0 var(--color-light),
		-2px -2px 0 var(--color-light);
}
@layer base {
	* {
		border-color: #dbe2e5;
	}
}

img {
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.product-description {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.product-description strong {
	font-weight: 500;
	font-family: var(--font-konnect);
	color: var(--color-primary);
	font-size: 18px;
	line-height: 24px;
	margin-top: 2px;
}
.product-description ul {
	list-style: disc;
	margin-left: 1.25rem;
}

.flat-coverflow-slider.swiper {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 70px;
}

.flat-coverflow-slider .swiper-slide {
	width: 400px !important;
}

.swiper-pagination {
	bottom: 0px !important; /* space above dots */
}

@media (max-width: 768px) {
	.flat-coverflow-slider.swiper {
		padding-bottom: 50px;
	}
	.flat-coverflow-slider .swiper-slide {
		width: 185px !important;
	}
}

.flat-coverflow-slider .swiper-button-next,
.flat-coverflow-slider .swiper-button-prev {
	color: #000; /* arrow color */
	width: 40px;
	height: 40px;
	background: white;
	border-radius: 9999px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.flat-coverflow-slider .swiper-button-next::after,
.flat-coverflow-slider .swiper-button-prev::after {
	font-size: 14px;
	font-weight: bold;
}
.flat-coverflow-slider .swiper-button-prev,
.flat-coverflow-slider .swiper-button-next {
	top: calc(50% - 30px);
	background-color: #ffffffb3;
	width: 55px;
	height: 55px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.flat-coverflow-slider .swiper-button-prev:hover,
.flat-coverflow-slider .swiper-button-next:hover {
	background-color: #ffffff;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.flat-coverflow-slider .swiper-button-next {
	right: 15%;
}
.flat-coverflow-slider .swiper-button-prev {
	left: 15%;
}

@keyframes whatsapp-float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

@media (min-width: 768px) {
	.whatsapp-float {
		animation: whatsapp-float 1s ease-in-out infinite;
	}
}

@keyframes float {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-4px);
	}
}
