@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;

	--color-header: #000000;
	--color-headerText: #000000;
	--color-footer: #000000;
	--color-cardsBg: #000000;
	--color-light: #fefefe;
	--color-dark: #000000;

	--color-border-color: #dbe2e5;
}

@theme {
	--color-primary: #000000;
	--color-secondary: #000000;
	--color-header: #000000;
	--color-headerText: #000000;
	--color-footer: #000000;
	--color-cardsBg: #000000;
	--color-light: #fefefe;
	--color-dark: #000000;
	--color-border-color: #dbe2e5;

	--color-muted: #99a1af;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

.champagne-font {
	font-family: var(--font-champagne);
}
.konnect-font {
	font-family: var(--font-konnect);
}

body {
	font-family: var(--font-champagne);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-konnect);
}

label {
	cursor: pointer;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* *:not([class*="border-"]) {
	border-color: #5daae9;
} */

button,
a {
	cursor: pointer;
}

.bubble-text {
	text-shadow: 2px 2px 0 var(--color-light), -2px 2px 0 var(--color-light),
		2px -2px 0 var(--color-light), -2px -2px 0 var(--color-light);
}
@layer base {
	* {
		border-color: #dbe2e5;
	}
}
