.heading {
	font-weight: 600;
}

/* desktop headings */

.main-h1 {font-size: 80px; line-height: 83px;}
.h1 {font-size: 46px; line-height: 64px;}
.h2 {font-size: 40px; line-height: 54px;}
.h3 {font-size: 28px; line-height: 42px;}
.h4 {font-size: 22px; line-height: 34px;}
.h5 {font-size: 20px; line-height: 30px;}
.h6 {font-size: 18px; line-height: 24px;}
.h7 {font-size: 14px; line-height: 21px;}

/* mobile hs */

@media(max-width:768px){
.h1 {font-size: 32px; line-height: 41.5px;}
.h2 {font-size: 28px; line-height: 36.5px;}
.h3 {font-size: 22px; line-height: 28px;}
.h4 {font-size: 20px; line-height: 26px;}
.h5 {font-size: 18px; line-height: 23.75px;}
.h6 {font-size: 16px; line-height: 21.75px;}
.h7 {font-size: 14px; line-height: 16px;}
}
