.p {
	font-weight: 400;
}

/* desktop paragraphs */

.p1 {font-size: 28px;line-height: 44px;}
.p2 {font-size: 24px;line-height: 34px;}
.p3 {font-size: 18px;line-height: 27px;}
.p4 {font-size: 16px;line-height: 24px;}
.p5 {font-size: 14px;line-height: 19.5px;}
.p6 {font-size: 12px;line-height: 16px;}
.p7 {font-size: 11px;line-height: 15px;}

/* mobile */

@media(max-width:768px){
.p1 {font-size: 20px;line-height: 30px;}
.p2 {font-size: 18px;line-height: 26px;}
.p3 {font-size: 16px;line-height: 24px;}
.p4 {font-size: 14px;line-height: 21px;}
.p5 {font-size: 12px;line-height: 18px;}
.p6 {font-size: 10px;line-height: 16px;}
}
